$xl: 1170px;
$lg: 1024px;
$md: 768px;
$sm: 640px;

$font-headline: "Raleway", sans-serif;
$font-body: "Lato", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-accent: #3e9cdc;
$color-accent-dark: #286690;
$color-accent-light: #42a9ed;
$color-primary: #272733;
$color-secondary: #bbbbbb;
$color-tertiary: #c3c3c3;
